@{
    ViewData["Title"] = "Home Page";
}

<div class="position-absolute top-50 start-50 translate-middle" > 
      <button type="button" class="btn btn-primary" style="width: 180px; height: 150px;" ></button>
      <a href = '@Url.Action("ConfigurarJuego")' class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Jugar </a>
      </button>
</div>

